body {
    background-color: turquoise;
}

.top-left {

    position: absolute;
    left: 0;
    top: auto;
    width: 130px;
    margin-top: 0px;
    margin-left: 10px;
    color: white;
    background-color: black;

}

.top-left1 {

    position: absolute;
    left: 0;
    top: auto;
    width: 100px;
    margin-left: 390px;
    margin-bottom: 200px;

    color: white;
    background-color: black;

}

.top-left2 {

    position: absolute;
    left: auto;
    top: auto;
    width: 100px;
    margin-top: 0px;
    margin-left: 770px;
    color: white;
    background-color: black;

}

.top-left3 {
    position: absolute;
    left: auto;
    top: auto;
    width: 100px;
    margin-top: 0px;
    margin-left: 1150px;
    color: white;
    background-color: black;

}

.top-left4 {

    position: absolute;
    left: 0;
    bottom: 0px;
    width: 130px;
    margin-left: 10px;
    margin-bottom: 410px;
    color: white;
    background-color: black;

}

.top-left5 {

    position: absolute;
    left: 0;
    bottom: 0%;
    width: 100px;
    margin-top: 100px;
    margin-left: 390px;
    margin-bottom: 410px;
    color: white;
    background-color: black;

}

.top-left6 {

    position: absolute;
    left: 0;
    bottom: ;
    width: 100px;
    margin-left: 770px;
    color: white;
    background-color: black;

}

.top-left7 {

    position: absolute;
    left: 0;
    bottom: ;
    width: 100px;
    margin-top: 0px;
    margin-left: 1150px;
    color: white;
    background-color: black;

}

.top-left8 {
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    margin-top: 1340px;
    margin-left: 10px;
    color: white;
    background-color: black;

}

nav {
    position: sticky;
}